chromedriver_skip_download=true

puppeteer_download_host=https://registry.npmmirror.com/-/binary
protocolbuffers_download_host=https://registry.npmmirror.com/-/binary
fetch-retry-maxtimeout=20000
fetch-retries=3
